.about-our-beans {
  background: white;
  min-height: 485px;

  // .about-our-beans__container

  &__container {
    column-gap: 79px;
    padding-top: 70px;
    padding-left: 242px;
    padding-right: 202px;
  }

  &__content {
    position: relative;
    display: flex;
    column-gap: 79px;
    &::after {
      content: "";
      position: absolute;
      bottom: -60px;
      left: 0;
      width: 240px;
      height: 1px;
      background-color: black;
      left: 50%;
      transform: translateX(-50%);

    }
  }
  // .about-our-beans__image

  &__image {
    box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.25);
    flex: 0 1 38.9%;
    aspect-ratio: 272 / 355;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      max-width: 100%;
    }
  }

  // .about-our-beans__description

  &__description {
    flex: 1 1;
    display: flex;
    padding-top: 9px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  // .about-our-beans__title

  &__title {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  // .about-our-beans__logo

  &__logo {
    margin-bottom: 26px;
  }

  // .about-our-beans__text

  &__text {
  }
}
.container {
}
