.our-best {
  min-height: 495px;
  background: url("images/background.png") center/cover;
  // .our-best__container

  &__container {
    padding: 80px 15px 110px 15px;
    display: flex;
    justify-content: center;
  }

  // .our-best__title

  &__title {
    font-size: 24px;
  }
}
