.coffee-list-section {
   min-height: 100px;
   background-color: white;
   padding-top: 60px;
   padding-bottom: 30px;

   // .coffee-list-sectionon__container

   &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   // .coffee-list-sectionon__search-and-filter-block

   &__search-and-filter-block {
      justify-content: center;
      flex-wrap: wrap;
      display: flex;
      column-gap: 83px;
      row-gap: 35px;
      margin-bottom: 61px;
      @media(max-width:993px) {
         column-gap: 50px;
      }
   }

   // .coffee-list-sectionon__list

   &__list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
      column-gap: 71px;
      margin: 0 auto;
      row-gap: 60px;
      width: 72.5%;
      
      //grid-template-columns: repeat(auto-fill, 220px);
      //justify-content: center;
      //justify-items: center;
      
   }

   &__message {
      text-align: center;
   }
}
