.coffee-list-section {
   min-height: 100px;
   background-color: white;
   padding-top: 60px;
   padding-bottom: 30px;

   // .coffee-list-sectionon__container

   &__container {
   }

   // .coffee-list-sectionon__search-and-filter-block

   &__search-and-filter-block {
      display: flex;
      column-gap: 83px;
      padding-left: 180px;
      margin-bottom: 61px;
   }

   // .coffee-list-sectionon__list

   &__list {
      padding: 0px 170px;
      display: flex;
      flex-wrap: wrap;
      column-gap: 71px;
      row-gap: 60px;
      margin: 0 auto;
      @media(max-width: 1143px) {
         padding: 0px 140px;
      }
      @media(max-width: 993px) {
         padding: 0px 65px;
      }
      @media(max-width: 392px) {
         padding: 0px 25px;
      }
      
   }

   &__message {
      text-align: center;
   }
}
