.container {
}
.footer {
  // .footer__container
  padding-bottom: 20px;
  &__container {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__logo {
    margin-top: 30px;
  }
}
